body {
    background-color: blue;
}

h2 {
    color: red;
}
td {
    border: solid black;
    border-collapse: collapse;
    width: 30px;
    height: 30px;
}

.row1 td:nth-child(n+4):nth-child(-n+6),
.row2 td:nth-child(n+4):nth-child(-n+6),
.row3 td:nth-child(n+4):nth-child(-n+6),
.row4 td:nth-child(n):nth-child(-n+3),
.row4 td:nth-child(n+7),
.row5 td:nth-child(n):nth-child(-n+3),
.row5 td:nth-child(n+7),
.row6 td:nth-child(n):nth-child(-n+3),
.row6 td:nth-child(n+7),
.row7 td:nth-child(n+4):nth-child(-n+6),
.row8 td:nth-child(n+4):nth-child(-n+6),
.row9 td:nth-child(n+4):nth-child(-n+6)
 {
    background-color: #999999;
}

.mytext {
    width: 30px;
}